.user-heading{
    display: flex;
    justify-content: space-between;
    padding: 0.5vmax 3vmax;
    align-items: center;
}

.user-heading img{
    width: 4vmax;
}

.user-container{
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user-container div{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5vmax;
}

.user-container h3{
    font-size: 3vmax;
}

.user-container p{
    font-size: 1.1vmax;
}

.user-container img{
    width: 22vmax;
    border-radius: 50%;
}