footer{
    display: flex;
    justify-content: space-between;
    padding: 5vmax 3vmax;
    align-items: center;
}

.util-underline{
    text-decoration: underline;
}
.util-pointer{
    cursor: pointer;
}

footer .right{
    display:  grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2vmax;
}

footer .left p{
    font-size: 1.1vmax;
}