.contact-container{
    height: 89vh;
    background: url("../../contact.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container .form{
    display: flex;
    flex-direction: column;
    padding: 2vmax;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: #03608b; */
    justify-content: space-around;
    width: 60%;
    height: 80vh;
}

.contact-container h2{
    font-size: 6vmax;
    color: white;
}

.contact-container .input-fields{
    display: flex;
    flex-direction: column;
    gap: 0.8vmax;
}

.contact-container .input-fields input{
    border: none;
    outline: none;
    font-size: 1.1vmax;
    padding: 0.8vmax;
    border-radius: 7px;
}